# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Maven
target/
release.properties

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# OS Specific
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
._*

# Linux
*~

# General
*.DS_Store
*.pyc
*.pyo
*.sqlite

# Sensitive files
application.properties
application.yml